Source: cruisecontrol
Section: contrib/devel
Priority: optional
Maintainer: Alban Peignier <alban.peignier@free.fr>
Build-Depends: debhelper (>> 3.0.0), ant, cdbs, unzip
Standards-Version: 3.5.2

Package: cruisecontrol
Architecture: all
Depends: default-jre-headless | java1-runtime-headless | java2-runtime-headless, adduser, libxerces2-java, ant, liblog4j1.2-java, junit, libcommons-net-java, libgnumail-java, libjdom1-java, libcommons-logging-java, libservlet2.4-java, libcommons-el-java, libmx4j-java, libcommons-validator-java, libcommons-httpclient-java, libxstream-java
Suggests: java-gcj-compat-dev | sun-java5-jdk | sun-java6-jdk
Recommends: libxalan2-java, liboro-java, libcommons-validator-java
Description: Java framework for a continuous build process
 It includes, but is not limited to, plugins for email notification,
 Ant, and various source control tools. A web interface is
 provided to view the details of the current and previous builds.
 .
 For more informations see http://cruisecontrol.sourceforge.net/.
